/*Обнуление */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside, ul{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 11px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/
*{
	font-size: 14px;
}

body {
	margin: 50px;
	/* max-width: 1920px;  */
	margin:0 auto;
	background: url('/upload/logo/logo.png'), rgba(255,255,255,0.5); /* -----тут поменяй расположение картинки, в зависимости куда ее запихнёшь----- */
	background-blend-mode: color;

	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.header {
	margin: 20px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background-color: #71B0B4;
	color:black;
	border-radius: 10px;

}

.left-navbar-lex,.right-navbar-lex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;


}
.left-navbar-lex {
	padding-left: 2rem;
}

.right-navbar-lex {
	padding-right: 2rem;
}

.navbar-lex-item {
	padding: 0 2rem;
	padding-right: 5px;
	border-radius: 3px;
	color: #313131;
	border-color: black;
}

.nav_lex_card_button {
	/* width: 90px; */
	border: 1px solid black; /* Рамка */
	border-radius: 10px;
	display: block;
	/* float:right; */
	margin: 5px;
	margin-left: auto;
	padding: 5px 10px; /* Поля */
	text-decoration: none; /* Убираем подчёркивание */
	color: #000; /* Цвет текста */
}

.nav_lex_card_button:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */

 }

li a{
		text-decoration: none;
		font-family: sans-serif;
		/* color: #5757a0; */
		color: black;
		display: inline-block;
		padding: 10px 20px;
		/* background-color: lavender; */
		background-color: white;
		/* border-bottom: 5px solid #5757a0; */
		border-top: 5px solid #71B0B4;
		/* border-bottom: 5px solid black; */
		border-radius: 20px;

}


.header-text {
	font-weight: 700;
}

.item-application {
	margin-right: 30px;
}

button{
		position: relative;
		display: inline-block;
		color: #777674;
		font-weight: bold;
		text-decoration: none;
		/* text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px; */
		user-select: none;
		padding: 1em 2em;
		outline: none;
		border-radius: 3px / 100%;
		background-image:
		 linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
		 linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
		 linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
		 linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
		 linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
		 linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
		background-repeat: no-repeat;
		background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
		background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
		box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
	}
	
	.button:hover {
		transition: .5s linear;
		background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
	}
	
	.button:active {
		top: 1px;
	}

.button {
	/* margin: 0 auto; */
	position: relative;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  /* text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px; */
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

button:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

button:active {
  top: 1px;
}

.button_mail {
	margin-top: 10px;
	position: relative;

  display: block;
  width: 10em;
  height: 2.5em;

  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #F64C2B;
  border-radius: 10px;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.button_mail:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.main {
	margin: 25px;
	display: grid;
	grid-template-columns: 3fr 1fr;
	/* grid-template-rows: 1fr 1fr; */
	grid-gap: 20px;
	height: 85vh;

	/* align-items: center; */
}

.left_block {



	align-items: center;
}

.left-block-up {
	flex-grow: 1;
	margin-bottom: 50px;
}

.left-block-down {

	margin-top: 10px;
	margin-right: 10px;
	

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.lex-card {
	margin-bottom: 15px;
   border:2px solid black;
   	border-radius: 15px;

		 display: flex;
		 flex-direction: column;
		 justify-content: space-between;
		 padding: 10px;
}

.lex-card-header {
	display: block;
	background-color: #EFEFEF;
	margin: 5px 10px;
	padding-left: 10px;
	border-radius: 5px;
}

.lex_card_button {
	width: 90px;
	border: 1px solid black; /* Рамка */
	border-radius: 10px;
	display: block;
	/* float:right; */
	margin: 5px;
	margin-left: auto;
	padding: 5px 10px; /* Поля */
	text-decoration: none; /* Убираем подчёркивание */
	color: #000; /* Цвет текста */
}

.lex_card_button:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
	
 }


 /* .lex_card_text {
	 display: block;
 } */
.right_block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 94%;
	max-height: 100vh;
}

.right-block-up {
	flex-grow: 1;
	margin-bottom: 30px;
}

.right-block-up-button {
	margin-top: 15px;

}

.quickButton {
    width: 95%;
    max-width: 25vw;
    border: 1px solid black; /* Рамка */
    border-radius: 10px;
    display: block;
    /* float:right; */
    margin: 5px;
    margin-left: auto;
    padding: 5px 10px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}

.right-block-down {
	flex-grow: 1;
	width: 95%;
    height: 20%;
    margin-top: 20px;
    }
}



.section_forms_input {

	border: 1px solid black;
	border-radius: 10px;
	width: 95%;
	height: 30px;

	padding: 5px;
	resize: none;
}

.quickInput {

	border: 1px solid black;
	border-radius: 10px;
	width: 95%;
	height: 30px;

	padding: 5px;
	resize: none;
}

.scrollBlock{
    height: 85%;
    max-height: 85vh;
    overflow-y: auto;

}

::-webkit-scrollbar {
    width: 3px;


}

::-webkit-scrollbar-button{
    width: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #71B0B4;
    border-radius: 10px;

}

.rightScroll {
    height: 70%;
    width: 100%;
    align-items: center;
    overflow-y: auto;
}

.panels {

	border: 1px solid black; /* Рамка */
	border-radius: 10px;
	display: block;
	/* float:right; */
	margin: 5px;
	margin-left: 9%;
	padding: 5px 10px; /* Поля */
	text-decoration: none; /* Убираем подчёркивание */
	color: #000; /* Цвет текста */
	width: 20%
}

.panels:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */

 }