<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="styles :: css"></head>
  <body>
    <header>
      <div th:insert="navBar::navbar"></div>
    </header>

    <h1 align="center">Admin Panel</h1>

    <button
            class="panels"
      th:onclick="window.location.href = '/admin/allUsers';"
      type="button"
    >
      Users Management</button
    ><br /><br />
    <button
            class="panels"
      th:onclick="window.location.href = '/admin/allMessages';"
      type="button"
    >
      Messages Management</button
    ><br /><br />
    <button
            class="panels"
      th:onclick="window.location.href = '/admin/allTypes';"
      type="button"
    >
      Types Management</button
    ><br /><br />
    <button
            class="panels"
      th:onclick="window.location.href = '/admin/allPriorities';"
      type="button"
    >
      Priorities Management</button
    ><br /><br />
    <button
            class="panels"
            th:onclick="window.location.href = '/admin/allQuick';"
            type="button"
    >
      Quick Messages</button
    ><br /><br />
    <button
            class="panels"
      th:onclick="window.location.href = '/admin/allRoles';"
      type="button"
    >
      View Roles
    </button>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
