<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Messages</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<header>
    <!--suppress CheckEmptyScriptTag -->
    <div th:insert="navBar::navbar"/>
</header>

<main class="main">
    <div th:switch = "${#root}" class="left_block" >
        <div class="left-block-down">

            <p th:case = "messages">
                <div th:if="${messages}" >
                    <div th:each="message : ${messages}">
                        <div class="lex-card">
                            <div class="card-body m-2">
                                <h4 class="lex-card-header" th:text="${message.getDescription}">a</h4>
                                <a class="lex_card_button" data-bs-toggle="collapse" th:href="'#content' + ${message.getId}" role="button" aria-expanded="false" aria-controls="content">Детали</a>
                                <div class="lex_card_text collapse" th:id="'content' + ${message.getId}">
                                    <label for="id">Номер заявки</label>
                                    <p id="id" th:text="${message.getId}">a</p>
                                    <label for="status">Статус заявки</label>
                                    <p id="status" th:text="${message.getStatus}">a</p>
                                    <label for="type">Тип неполадки</label>
                                    <p id="type" th:text="${message.getType.getDescription}">a</p>
                                    <label for="priority">Приоритет</label>
                                    <p id="priority" th:text="${message.getPriority.getDescription}">a</p>
                                    <label for="user">Автор</label>
                                    <p id="user">
                                        <span th:text="${message.getUser.getFirst_name}"></span>
                                        <span th:text="${message.getUser.getLast_name}"></span>
                                    </p>
                                    <button th:if="${message.getActual}" sec:authorize="hasRole('ADMIN')" th:onclick="window.location.href = '/admin/delete/message/[[${message.getId}]]';" type="button">Удалить</button>
                                    <button sec:authorize="hasRole('SUPPORT')" th:if="${message.getSupport_id} eq 0" th:onclick="window.location.href = '/support/apply/[[${message.getId}]]';" type="button">Взять в работу</button>
                                    <div align="right" th:each="comment : ${message.getComments}">
                                        <div th:text = "${comment.getDate} + ' ' + ${comment.getDescription}">a</div>
                                    </div>
                                    <div align="right">
                                        <form sec:authorize="hasRole('SUPPORT')" method="POST" th:action="@{/support/comment}" action="#">
                                            <input type="text" name="description">
                                            <br>
                                            <br>
                                            <input type="hidden" name="messageId" th:value="${message.getId}">
                                            <input type="submit" class="button" value="Отправить" />
                                        </form>
                                    </div>
                                    <button sec:authorize="hasRole('SUPPORT')" th:unless="${message.getSupport_id} eq 0" th:onclick="window.location.href = '/support/complete/[[${message.getId}]]';" type="button">Завершить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <p th:case="users">
                <p th:if="${users}">
                    <button  type="button" data-bs-toggle="modal" data-bs-target="#formNew" class="lex_card_button">New User</button>

                    <div th:if="${users}" >
                        <div th:each="message : ${users}">
                            <div class="lex-card">
                                <div class="card-body m-2">
                                    <h4 class="lex-card-header" th:text="${message.getFirst_name + ' ' + message.getLast_name}">a</h4>
                                    <a class="lex_card_button" data-bs-toggle="collapse" th:href="'#content' + ${message.getId}" role="button" aria-expanded="false" aria-controls="content">Детали</a>
                                    <div class="lex_card_text collapse" th:id="'content' + ${message.getId}">
                                        <label for="idUser">Номер</label>
                                        <p id="idUser" th:text="${message.getId}">a</p>
                                        <label for="username">Логин</label>
                                        <p id="username" th:text="${message.getUsername}">a</p>
                                        <button th:method="delete" sec:authorize="hasRole('ADMIN')" th:onclick="window.location.href = '/admin/delete/user/[[${message.getId}]]';" type="button">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <!--ggh-->
            <p th:case="types">

                <p th:if="${types}">
                    <button data-bs-toggle="modal" data-bs-target="#formNew" type="button" class="lex_card_button">New Type</button>

                    <div th:if="${types}" >
                        <div th:each="message : ${types}">
                            <div class="lex-card">
                                <div class="card-body m-2">
                                    <label for="idType">ID</label>
                                    <span id="idType" th:text="${message.getId}"></span>
                                    <label for="descriptionType">Описание</label>
                                    <span id="descriptionType" th:text="${message.getDescription}"></span>
                                    <button th:onclick="window.location.href = '/admin/delete/type/[[${message.getId}]]';" type="button">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>

            <p th:case="priorities">

                <p th:if="${priorities}">
<!--                    <button data-bs-toggle="modal" data-bs-target="#formNew" type="button">New Priority</button>-->

                    <div th:if="${priorities}" >
                        <div th:each="message : ${priorities}">
                            <div class="lex-card">
                                <div class="card-body m-2">
                                    <label for="idPriority">ID</label>
                                    <span id="idPriority" th:text="${message.getId}"></span>
                                    <label for="descriptionPriority">Описание</label>
                                    <span id="descriptionPriority" th:text="${message.getDescription}"></span>
<!--                                    <button th:method="delete" th:onclick="window.location.href = '/admin/delete/priority/[[${message.getId}]]';" type="button">Удалить</button>-->
                                </div>
                            </div>
                        </div>
                    </div>

            <p th:case="quickMessages">

                <p th:if="${quickMessages}">
                    <button data-bs-toggle="modal" data-bs-target="#formNew" type="button" class="lex_card_button">New Quick</button>

                    <div th:if="${quickMessages}" >
                        <div th:each="message : ${quickMessages}">
                            <div class="lex-card">
                                <div class="card-body m-2">
                                    <label for="idQuick">ID</label>
                                    <span id="idQuick" th:text="${message.getId}"></span>
                                    <label for="descriptionPriority">Описание</label>
                                    <span id="descriptionQuick" th:text="${message.getDescription}"></span>
                                    <button th:method="delete" th:onclick="window.location.href = '/admin/delete/quick/[[${message.getId}]]';" type="button">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>


            <p th:case="roles">
                <table th:if="${roles}" class="table table-striped table-hover">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody th:each="message : ${roles}">
                    <tr>
                        <td th:text="${message.getId}"></td>
                        <td th:text="${message.getRole}"></td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <div class="right_block">
        <div class="right-block-up">
            <h3 class="header-text">Справка</h3>
            <div th:if="${messages}">
                <p>
                    Данный раздел позволяет просматривать абсолютно все заявки.
                </p>
            </div>
            <div th:if="${users}">
                <p>
                    Данный раздел позволяет управлять пользователями.<br>
                    При создании пользователя необходимо указать его Фамилию, Имя, Логин, Пароль, Роль.<br>
                    Если роль не указана явно, то программа может уйти в ошибку и пользователь не будет
                    создан.<br>
                </p>
                <p>
                    Роли:<br>
                    1 - Администратор<br>
                    2 - Специалист поддержки<br>
                    3 - Пользователь
                </p>
            </div>
            <div th:if="${types}">
                <p>
                    Данный раздел позволяет управлять классификатором.<br>
                    При создании классификатора создается база ключевых слов, которые
                    используются классификатором при работе.<br>
                    При создании необходимо создать ID отличный от прочих и описание.<br>
                    Описания должны быть максимально отличны друг от друга в текущей версии приложения.
                </p>
                <p>
                    Обязательно необходим элемент Прочее с ID = 0. Его отсутствие может привести к ошибкам.
                </p>
            </div>
            <div th:if="${priorities}">
                <p>
                    Данный раздел предназначен для управления приоритетами.<br>
                    Как правило не используется много приоритетов.
                </p>
            </div>
            <div th:if="${quickMessages}">
                <p>
                    Данный раздел предназначен для добавления быстрых заявок в блок на главной странице приложения.<br>
                    Данный раздел предназначен для использования наиболее типовых задач.
                </p>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="formNew" tabindex="-1" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 th:if="${users}" class="modal-title" th:id="label" th:text="'Новый пользователь'">New User</h5>
                <h5 th:if="${types}" class="modal-title" th:id="label" th:text="'Новый тип заявки'">New User</h5>
                <h5 th:if="${priorities}" class="modal-title" th:id="label" th:text="'Новый приоритет заявки'">New User</h5>
                <h5 th:if="${quickMessages}" class="modal-title" th:id="label" th:text="'Новая быстрая заявка'">New User</h5>
                <button type="button" class="lex_card_button" data-bs-dismiss="modal" aria-bs-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul th:if="${users}" th:insert="forms::userForm"></ul>
                <ul th:if="${types}" th:insert="forms::typeForm"></ul>
                <ul th:if="${priorities}" th:insert="forms::priorityForm"></ul>
                <ul th:if="${quickMessages}" th:insert="forms::quickForm"></ul>
            </div>

        </div>
    </div>
</div>
<!--suppress RequiredAttributes -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
</html>
