<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>My messages</title>
</head>
<body>
    <h1>Мои заявки</h1>


    <button sec:authorize="hasRole('ADMIN')" onclick="window.location.href = '/admin/panel';">Admin Panel</button>
    <button sec:authorize="hasRole('SUPPORT')" onclick="window.location.href = '/support/panel';">Support Panel</button>

    <p th:each="message : ${user.messages}">
        <span th:text="${message.getDescription}"></span>
        <span th:text="${message.getType.getDescription}"></span>
        <span th:text="${message.getPriority.getDescription}"></span>
        <span>
            <button th:onclick="window.location.href = '/workplace/details/[[${message.getId}]]';" type="button">Details</button>
        </span>
    </p>
</body>
</html>

<!--<span>-->
<!--            <-->
<!--            <form th:action="@{/workplace/details/${message.getId}}" th:method = "post" th:onclick = "window.location.href = '/workplace/details/${message.getId}}';">-->
<!--                <button type="submit">Details</button>-->
<!--            </form> -->
<!--        </span>-->
<!--    <span>-->
<!--&lt;!&ndash;        <button th:action="@{/workplace/details}" th:method="post" th:value="${message.getId}" th:onclick = "window.location.href = '/workplace/details';">Details</button>&ndash;&gt;-->
<!--        <button onclick="window.location.href = '/workplace/details/${message.getId}}';"  >Details</button>-->
<!--    </span>-->


<!--        <form th:action = "@{/workplace/details}" th:method="post">-->
<!--            <input name="id" type="hidden" th:value = "${message.getId}">-->
<!--    -->
<!--            <button  type="submit">Войти</button>-->
<!--        </form>-->