<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <title>My messages</title>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
</head>
<body>
    <h1>Мои заявки</h1>


    <button sec:authorize="hasRole('ADMIN')" onclick="window.location.href = '/admin/panel';">Admin Panel</button>
    <button sec:authorize="hasRole('SUPPORT')" onclick="window.location.href = '/support/panel';">Support Panel</button>

    <p th:each="message : ${user.messages}">
        <span th:text="${message.getDescription}"></span>
        <span th:text="${message.getType.getDescription}"></span>
        <span th:text="${message.getPriority.getDescription}"></span>
        <span>
            <button th:onclick="window.location.href = '/workplace/details/[[${message.getId}]]';" type="button">Details</button>
        </span>
    </p>
<hr>
    <h3 align="center">Быстрые заявки</h3>




        <form method="POST" th:action="@{/workplace/message/save}" >

            <input type="hidden" name="description" value="Заменить картридж">

            <input type="submit" value="Заменить картридж" />
        </form>

        <form method="POST" th:action="@{/workplace/message/save}" >

            <input type="hidden" name="description" value="Обновить программу">

            <input type="submit" value="Обновить программу" />
        </form>

    <hr>
    <h3 align="center">Своя заявка</h3>
        <form method="POST" th:action="@{/workplace/message/save}" >

            <input type="text" name="description" >
            <br>

            <br>
            <input type="submit" value="Отправить" />
        </form>


<!--        <form th:method="POST" th:action="@{/workplace/message/save}" th:object = "${message}">-->
<!--            <input type="hidden" value="Заменить картридж"  name="description" >-->
<!--            <input type="hidden" th:value="${user.getId}" name="user_id" >-->
<!--            <input type="hidden" value="1" name="type_id" >-->
<!--            <input type="hidden" value="1" name="priority_id" >-->
<!--            <button type="submit">Заменить картридж</button>-->
<!--        </form>-->

<!--        <form action="#" th:action="@{/workplace/message/save}" th:object="${message}" method="post">-->
<!--            <input type="text" th:field="*{description}"/>-->

<!--            <button type="submit">Заменить картридж</button>-->
<!--        </form>-->

<!--    <form th:action="@{/workplace/message/save}" th:object="${message}" method="POST">-->

<!--        <input type="hidden" th:field="*{description}" value="Заменить картридж"/>-->

<!--        <input type="hidden" th:field="*{user_id}" value="${user.getId}"/>-->

<!--        <input type="hidden" th:field="*{type_id}" value="1"/>-->

<!--        <input type="hidden" th:field="*{priority_id}" value="1"/>-->

<!--        <button type="submit">Заменить картридж</button>-->
<!--    </form>-->
</body>


</html>

<!--<span>-->
<!--            <-->
<!--            <form th:action="@{/workplace/details/${message.getId}}" th:method = "post" th:onclick = "window.location.href = '/workplace/details/${message.getId}}';">-->
<!--                <button type="submit">Details</button>-->
<!--            </form> -->
<!--        </span>-->
<!--    <span>-->
<!--&lt;!&ndash;        <button th:action="@{/workplace/details}" th:method="post" th:value="${message.getId}" th:onclick = "window.location.href = '/workplace/details';">Details</button>&ndash;&gt;-->
<!--        <button onclick="window.location.href = '/workplace/details/${message.getId}}';"  >Details</button>-->
<!--    </span>-->


<!--        <form th:action = "@{/workplace/details}" th:method="post">-->
<!--            <input name="id" type="hidden" th:value = "${message.getId}">-->
<!--    -->
<!--            <button  type="submit">Войти</button>-->
<!--        </form>-->