<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details Message</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
<h1 align="center">Детали заявки</h1>
<hr>
<p>
    <label >Номер заявки: </label>
    <span th:text="${message.getId}"></span>
</p>
<p>
    <label>Содержимое заявки: </label>
    <span th:text="${message.getDescription}"></span>
</p>
<p>
    <label>Тип задачи: </label>
    <span th:text="${message.getType.getDescription}"></span>
</p>
<p>
    <label>Приоритет: </label>
    <span th:text="${message.getPriority.getDescription}"></span>
</p>
</body>
</html>