<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/src/main/resources/static/style/styleForError.css">
</head>
<body>
<!-- <h1>ERROR</h1> -->
<div>
    <aside><img src="http://images.vfl.ru/ii/1589131754/d1df63a4/30474488.png" alt="404 Image" />
    </aside>
    <main>
      <h1>Не найдено!</h1>
      <p><em>Данной страницы не существует</em>
      </p>
      <button>На главную!</button>
    </main>
  </div>
</body>
</html>