<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
    <body>
        <div th:fragment="userForm">
            <form method="POST" th:action="@{/admin/newUser}"  action="#" >
                <th:p>Имя</th:p>
                <input type="text" class="form-control quickInput" name="first_name" required>
                <br>
                <th:p>Фамилия</th:p>
                <input type="text" class="form-control quickInput" name="last_name" required>
                <br>
                <th:p>Логин</th:p>
                <input type="text" class="form-control quickInput" name="username" required>
                <br>
                <th:p>Пароль</th:p>
                <input type="text" class="form-control quickInput" name="password" required>
                <br>
                <th:p>Роль</th:p>
                <select class="form-select quickInput" name="role" required>
                    <option selected value="3">Пользователь</option>
                    <option value="1">Администратор</option>
                    <option value="2">Специалист поддержки</option>
                </select>
                <br>

                <br>
                <input type="submit" class="lex_card_button" value="Отправить" />
            </form>
        </div>
        <div th:fragment="typeForm">
            <form method="POST" th:action="@{/admin/newType}"  action="#">
                <th:p>ID</th:p>
                <input type="text" name="id" class="form-control quickInput" required>
                <br>
                <th:p>description</th:p>
                <input type="text" name="description" class="form-control quickInput" required ><br>

                <select class="form-select quickInput" name="alert" required>
                    <option selected value="1">Обычная</option>
                    <option value="0">Срочная</option>
                </select>

                <br>
                <input type="submit" class="lex_card_button" value="Отправить" />
            </form>
        </div>
        <div th:fragment="priorityForm">
            <form method="POST" th:action="@{/admin/newPriority}"  action="#">
                <th:p>ID</th:p>
                <input type="text" name="id" class="form-control quickInput" required>
                <br>
                <th:p>description</th:p>
                <input type="text" name="description" class="form-control quickInput" required>

                <br>
                <input type="submit" class="lex_card_button" value="Отправить" />
            </form>
        </div>

        <div th:fragment="quickForm">
            <form method="POST" th:action="@{/admin/newQuick}"  action="#">

                <th:p>description</th:p>
                <input type="text" name="description" class="form-control quickInput" required>

                <br>
                <input type="submit" class="lex_card_button" value="Отправить" />
            </form>
        </div>

    </body>
</html>